<div class="container">

  <div class="row mx-auto mt-5 py-5 my-auto wow slideInLeft">
    <div class="col-sm-12 col-md-12">
        <div class="card card-background h-100" style="background-color: white;">
          <div class="card-body">
            <h1 class="font_2 card-title text-center pt-5">Life is full of surprises</h1>
            <h3 class="font_2 card-description text-center">
                We believe being fully prepared for the unexpected can save you <br/>time, money and stress.
            </h3>
            <h4 class="font_7 card-description text-center">
                FuturePlans is here to give you the tools to secure you and your family’s financial, medical and emotional well-being so you can focus on enjoying life.
            </h4>
            <h4 class="font_7 text-center">(We could put a nice cartoony image here to give this a little bit of pizazz)</h4>
          </div>
        </div>
    </div>    
  </div>

  <div class="row mx-auto wow slideInRight">

    <div class="card card-background h-100" style="background-color: white;">
      <div class="card-body text-center">
        <div class="container">

          <div class="col-md-12 mt-5 wow fadeIn" data-wow-delay="0.6s">
            <h1 class="font_2 card-title text-center">We guide you through the process</h1>
          </div>

          <div class="col-sm-3 col-md-3 mt-5 wow fadeIn" data-wow-delay="1.2s">
            <h2 class="card-title text-center pt-5">Legal</h2>
            <img class="text-center" width="75" height="75" src="https://static.wixstatic.com/media/28ea70_99c8b1901e4d46f98295f5502ce68208~mv2.png/v1/fill/w_120,h_120,al_c,usm_0.66_1.00_0.01/28ea70_99c8b1901e4d46f98295f5502ce68208~mv2.png"/>
            <h3 class="font_7 card-description text-center">
                We'll ensure you have the proper legal documents in place, and help create the ones you don't.
            </h3>
          </div>
          
          <div class="col-sm-3 col-md-3 mt-5 wow fadeIn" data-wow-delay="1.5s">
            <h2 class="card-title text-center pt-5">Financial</h2>
            <img class="text-center" width="75" height="75" src="https://static.wixstatic.com/media/28ea70_a2d3eee1e9424e648ac4ee7143ed255f~mv2.png/v1/fill/w_121,h_121,al_c,usm_0.66_1.00_0.01/28ea70_a2d3eee1e9424e648ac4ee7143ed255f~mv2.png"/>
            <h3 class="font_7 card-description text-center">
                We'll help you organize assets, line up your beneficiaries and recommend the right insurance for you.
            </h3>
          </div>
      
          <div class="col-sm-3 col-md-3 mt-5 wow fadeIn" data-wow-delay="1.8s">
            <h2 class="card-title text-center pt-5">Medical</h2>
            <img class="text-center" width="75" height="75" src="https://static.wixstatic.com/media/28ea70_12acfb039d4d4e2b94f772e25aed43e6~mv2.png/v1/fill/w_121,h_121,al_c,usm_0.66_1.00_0.01/28ea70_12acfb039d4d4e2b94f772e25aed43e6~mv2.png"/>
            <h3 class="font_7 card-description text-center">
                We'll help you identify, capture and share your medical preferences in a living will
            </h3>
          </div>
      
          <div class="col-sm-3 col-md-3 mt-5 wow fadeIn" data-wow-delay="2.1s">
            <h2 class="card-title text-center pt-5">Legacy</h2>
            <img class="text-center" width="75" height="75" src="https://static.wixstatic.com/media/28ea70_e84b099d4cc34b5ba010d4a23a336952~mv2.png/v1/fill/w_120,h_120,al_c,usm_0.66_1.00_0.01/28ea70_e84b099d4cc34b5ba010d4a23a336952~mv2.png"/>
            <h3 class="font_7 card-description text-center">
                Want to share your family history, digital assets, or funeral preferences? We got you.
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>

    

  <div class="row mx-auto mt-5 py-5 my-auto wow slideInLeft">
    <div class="col-sm-12 col-md-12">
      <div class="card card-background h-100" style="background-color: white;">
        <div class="card-body">
          <h1 class="card-title text-center pt-5 wow fadeIn" data-wow-delay="0.6s">How does it work?</h1>
          
          <div class="container">
            
            <div class="row my-4 wow fadeIn">
              <div class="col-md-6 col-sm-6 text-center">
                <img class="" src="https://static.wixstatic.com/media/28ea70_d892125c2f5342268c141e2e532ca77b~mv2.png/v1/fill/w_179,h_175,al_c,usm_0.66_1.00_0.01/28ea70_d892125c2f5342268c141e2e532ca77b~mv2.png"/>
              </div>
              <div class="col-md-6 col-sm-6 text-center">
                <div class="container">
                  <div class="row justify-content-center">
                    <h1 class="font_2">Plan</h1>
                  </div>
                  <div class="row justify-content-center">
                    <h3 class="font_7">Our guided process and questions build a personalized plan and help you figure out what steps you need to take.</h3>
                  </div>
                </div>
              </div>
            </div>

            <div class="row my-4 flex-column-reverse flex-md-row wow fadeIn">              
              <div class="col-md-6 col-sm-6 text-center">
                <div class="container">
                  <div class="row justify-content-center">
                    <h1>Create</h1>
                  </div>
                  <div class="row justify-content-center">
                    <h3 class="font_7">We'll help you create a plan based on your profile and preferences, and generate the documents you need for a complete legal, medical and financial foundation.</h3>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-sm-6 text-center">
                <img class="" src="https://static.wixstatic.com/media/28ea70_fa74c640ad3a4a8daee4a9faf328fd7b~mv2.png/v1/fill/w_179,h_177,al_c,usm_0.66_1.00_0.01/28ea70_fa74c640ad3a4a8daee4a9faf328fd7b~mv2.png"/>
              </div>
            </div>

            <div class="row my-4 wow fadeIn">
              <div class="col-md-6 col-sm-6 text-center">
                <img class="" src="https://static.wixstatic.com/media/28ea70_6b8581d7889646ada419a4ce4d161a08~mv2.png/v1/fill/w_186,h_185,al_c,usm_0.66_1.00_0.01/28ea70_6b8581d7889646ada419a4ce4d161a08~mv2.png"/>
              </div>
              <div class="col-md-6 col-sm-6 text-center">
                <div class="container">
                  <div class="row justify-content-center">
                    <h1>Store</h1>
                  </div>
                  <div class="row justify-content-center">
                    <h3 class="font_7">You can capture and store critical data and documents in one place to ensure your preferences are up to date and securely documented in one place.</h3>
                  </div>
                </div>
              </div>
            </div>

            <div class="row my-4 flex-column-reverse flex-md-row wow fadeIn">
              <div class="col-md-6 col-sm-6 text-center">
                <div class="container">
                  <div class="row justify-content-center">
                    <h1>Share</h1>
                  </div>
                  <div class="row justify-content-center">
                    <h3 class="font_7">Identify who in your life "needs to know" and you can securely share digitally, or print off data to share offline as needed.</h3>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-sm-6 text-center">
                <img class="" src="https://static.wixstatic.com/media/28ea70_a35b5c1acc764297976c06ba4b2bb76c~mv2.png/v1/fill/w_186,h_185,al_c,usm_0.66_1.00_0.01/28ea70_a35b5c1acc764297976c06ba4b2bb76c~mv2.png"/>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>    
  </div>

  <div class="row mx-auto mt-5 py-5 my-auto wow slideInRight">
    <div class="col-sm-12 col-md-12">
      <div class="card card-background h-100" style="background-color: white;">
        <div class="card-body">
        
          <h1 class="card-title text-center pt-5 wow fadeIn">Who is FuturePlans for?</h1>
        
          <div class="container text-center mt-5">
            
            <div class="row align-content-center justify-content-center wow fadeIn">
              <div class="col-md-4 col-sm-4">
                <div class="container">
                  <div class="row">
                    <h2>
                      Life and estate planning isn't just for those with an "Estate"
                    </h2>
                  </div>
                  <div class="row">
                    
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-4">
                <img src="https://static.wixstatic.com/media/28ea70_e0b42618ba8e4baa82497accf2466440~mv2.png/v1/fill/w_86,h_85,al_c,usm_0.66_1.00_0.01/28ea70_e0b42618ba8e4baa82497accf2466440~mv2.png"/>
              </div>
              <div class="col-md-4 col-sm-4">
                  <h3>
                    Ever thought an 'estate plan' was only needed if you owned a country house,  acres of land, tennis courts and a ski chalet in Switzerland?  Me too...
                  </h3>
              </div>
            </div>

            <div class="row align-content-center justify-content-center wow fadeIn">
              <div class="col-md-4 col-sm-4">
                <h2>
                    Whatever stage of life you're in, life and estate planning is a 'must-do'
                </h2>
              </div>
              <div class="col-md-4 col-sm-4">
                <img src="https://static.wixstatic.com/media/28ea70_e911f9f0655d408caaf4ed1a559e1003~mv2.png/v1/fill/w_89,h_85,al_c,usm_0.66_1.00_0.01/28ea70_e911f9f0655d408caaf4ed1a559e1003~mv2.png"/>
              </div>  
              <div class="col-md-4 col-sm-4">
                <div class="container">
                  <div class="row">
                    <h3>
                        Turns out I was wrong...if you have kids, intend to travel, are planning retirement or have experienced a major health event (maybe all of the above), life and estate planning can put in place building blocks to protect you and your family in case the unexpected happens.
                    </h3>
                  </div>
                  <div class="row">
                    
                  </div>
                </div>
              </div>                          
            </div>

            <div class="row align-content-center justify-content-center wow fadeIn">
              <div class="col-md-4 col-sm-4">
                <div class="container">
                  <div class="row">
                    <h2>
                      Life and estate planning isn't just for those with an "Estate"
                    </h2>
                  </div>
                  <div class="row">
                    
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-4">
                <img src="https://static.wixstatic.com/media/28ea70_0cf7b9a3b7bd470296b5c6f16d783bc4~mv2.png/v1/fill/w_86,h_85,al_c,usm_0.66_1.00_0.01/28ea70_0cf7b9a3b7bd470296b5c6f16d783bc4~mv2.png"/>
              </div>
              <div class="col-md-4 col-sm-4">
                  <h3>
                    Ever thought an 'estate plan' was only needed if you owned a country house,  acres of land, tennis courts and a ski chalet in Switzerland?  Me too...
                  </h3>
              </div>
            </div>

            <div class="row mx-auto justify-content-center align-content-center wow fadeIn">
              <div class="col-md-12">
                <h3 class="font_2 text-center">Data security is critically important</h3>
                <h4 class="font_7 text-center">We protect your data with end to end encryption and bank level security</h4>
              </div>              
            </div>

            <div class="row mx-auto justify-content-center align-content-center">
              <img class="mx-auto" src="https://static.wixstatic.com/media/28ea70_8fa52d1c93d94dc4bd32977c266a1510~mv2.png/v1/fill/w_71,h_72,al_c,usm_0.66_1.00_0.01/28ea70_8fa52d1c93d94dc4bd32977c266a1510~mv2.png"/>
              <img class="mx-auto" src="https://static.wixstatic.com/media/28ea70_5885d16c7e904bf2b911492466cf880d~mv2.jpg/v1/crop/x_47,y_0,w_256,h_256/fill/w_76,h_75,al_c,q_80,usm_0.66_1.00_0.01/28ea70_5885d16c7e904bf2b911492466cf880d~mv2.jpg"/>
              <img class="mx-auto" src="https://static.wixstatic.com/media/28ea70_d3ef2d918561445d9d3e02e093fc7748~mv2.png/v1/crop/x_102,y_0,w_281,h_257/fill/w_80,h_73,al_c,usm_0.66_1.00_0.01/28ea70_d3ef2d918561445d9d3e02e093fc7748~mv2.png"/>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="row ">
    
  </div>
</div>